<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:component-scan base-package="org.geekbang.week05.c02"/>

    <bean id="student123"
          class="org.geekbang.week05.c02.Student2">
        <property name="id" value="123"/>
        <property name="name" value="KK123"/>
    </bean>

    <bean id="student100"
          class="org.geekbang.week05.c02.Student2">
        <property name="id" value="100"/>
        <property name="name" value="KK100"/>
    </bean>

    <bean id="klass2" class="org.geekbang.week05.c02.Klass2">
        <property name="students">
            <list>
                <ref bean="student100"/>
                <ref bean="student123"/>
            </list>
        </property>
    </bean>

    <bean id="school" class="org.geekbang.week05.c02.School2">
        <property name="klass2" ref="klass2"/>
        <property name="student2" ref="student123"/>
    </bean>

</beans>